# IDE project files
.idea
*.iml
out
gen
.vscode

# Coverage
coverage
test-reports

# dotenv environment variables files
.env
.env.test
.env*.local

# Dependencies
node_modules
lib

# Misc
.cache
.DS_Store

# Yarn 3
**/.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
