name: on-pr-opened
on:
  pull_request:

jobs:
  lint-commits:
    name: lint-commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Lint commit messages
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose

  can-pull-request-merge:
    name: All required checks are successful
    runs-on: ubuntu-latest
    needs:
      - lint-commits

    steps:
      - shell: bash
        run: |
          echo "All required checks are successful"
